In [15]:
L = [1,2,3,4]

In [9]:
type(L)

list

In [11]:
L.append(5)
L

[1, 2, 3, 4, 5, 5]

In [14]:
L + [6]

[1, 2, 3, 4, 5, 5]

In [18]:
L += [6]
L

[1, 2, 3, 4, 6, 6]

In [19]:
L.insert(0, 7)
L

[7, 1, 2, 3, 4, 6, 6]

In [20]:
len(L)

7

In [23]:
for element in L:
    print(element)

7
1
2
3
4
6
6

In [24]:
L[3]

3

Indeksiranje s negativnim brojevima daje elemente unazad

In [31]:
L[-1]

6

_lista_[pocetak:kraj:step]

In [ ]:
L[0:2:1]

In [33]:
L = range(1, 10)
L

range(1, 10)

In [34]:
L = list(range(1, 11))
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
L[9:1:-2]

[10, 8, 6, 4]

In [44]:
lista=["test", "drugo", "sesto", "osmo"]
for i in range(0, len(lista)):
    if i != len(lista) - 1:
        print(lista[i], lista[i+1])

test drugo
drugo sesto
sesto osmo

In [39]:
range?

In [8]:
lista=["test", "drugo", "sesto", "osmo"]
zip(lista, lista[1:])
list(zip(lista, lista[1:]))

[('test', 'drugo'), ('drugo', 'sesto'), ('sesto', 'osmo')]

# Tuple

In [10]:
1245, 2530, 2005

(1245, 2530, 2005)

In [12]:
T = 1532, 2463, 2405
type(T)

tuple

In [13]:
T

(1532, 2463, 2405)

In [15]:
T[0]

1532

In [16]:
T[0:2]

(1532, 2463)

In [19]:
# nije za ƒçestu uporabu
T + (1,)

(1532, 2463, 2405, 1)

In [35]:
# reverse ispis
T[::-1]

(2405, 2463, 1532)

In [44]:
a,b, _ = T
a
b

2463

In [53]:
# raspakiravanje
print(*T)

1532 2463 2405

In [51]:
L = [1552, 1262, 2624, 2663]
L

[1552, 1262, 2624, 2663]

In [54]:
print(*L)

1552 1262 2624 2663

In [59]:
a, b, *c = L
c

[2624, 2663]

In [64]:
word1 = "Python Workshop"
word2 = " a.k.a. PyWo"

In [66]:
word1 + word2

'Python Workshop a.k.a. PyWo'

In [68]:
for ch in word1:
    print(ch)

P
y
t
h
o
n

W
o
r
k
s
h
o
p

In [70]:
word1[0]

'P'

In [72]:
word1[0:10]

'Python Wor'

In [74]:
word = word1 + word2

In [81]:
word.expandtabs?

In [86]:
niz="1,4,3,323,4351"
p = niz.split(",")

suma = 0
for el in p:
    suma += int(el)
    
print(suma)

4682

In [89]:
L=list(range(0,10))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [97]:
L = ["a", "b", "c", "d"]
"; ".join(L)

'a; b; c; d'

In [99]:
h = {}

In [102]:
h[0] = "nula"
h[1] = "jedan"
h

{0: 'nula', 1: 'jedan'}

In [105]:
from pprint import pprint

In [107]:
pprint(h)

{0: 'nula', 1: 'jedan'}

In [112]:
h.pop(3, "nema")

'nema'