### Zadatak: napraviti listu listi (5x5) i upisati je u Excel file (.xlsx), procitati 1. sheet zadanog excel dokumenta te strukturirati/formatirati ispis prethodne tocke

In [2]:
from openpyxl import Workbook
from openpyxl.compat import range
from openpyxl.utils import get_column_letter

In [3]:
L = [[1, 2, 3, 4, 5], [2, 3, 4, 5, 6], [3, 4, 5, 6, 7], [4, 5, 6, 7, 8], [5, 6, 7, 8, 9]]

In [5]:
wb = Workbook()
file = "lista.xlsx"

ws = wb.active
for lista in L:
    ws.append(lista)
    
wb.save(file)

In [18]:
import pandas as pd
df = pd.read_excel("lista.xlsx")
df

   1  2  3  4  5
0  2  3  4  5  6
1  3  4  5  6  7
2  4  5  6  7  8
3  5  6  7  8  9

In [47]:
from openpyxl import load_workbook
wb2 = load_workbook(filename = 'lista.xlsx')
ws2 = wb2.get_sheet_by_name("Sheet")

lista2 = [[], [], [], [], []]

i = 0
for row in ws2.iter_rows():
    for cell in row:
        i = i + 1
        print(cell.value, end=" ")
        if(i >= 5):
            print("\n")
            i = 0

1 2 3 4 5

2 3 4 5 6

3 4 5 6 7

4 5 6 7 8

5 6 7 8 9

In [1]:
#import tabulate